

.home{
    display: flex;
    height: 100vh;
    color: cornsilk;
}
.home .max-width{
    width: 100%;
    display: flex;
  }
  .home-content{
      /* background: palegreen; */
      width: 100vw;
      margin: auto 50px;
  }
  .home .max-width .row{
    margin-right: 0;
  }
  .home .home-content .text-1{
      font-size: 27px;
  }
  .home .home-content .text-2{
      font-size: 50px;
      font-weight: 600;
      margin-left: -3px;
  }
  .home .home-content .text-3{
      font-size: 40px;
      margin: 5px 0;
  }
  .home .home-content .text-3 span{
      color: crimson;
      font-weight: 500;
  }